body{
    margin:0;
    padding:0;
    background: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.containerm{
    width:1280px;
    min-height: 500px;
    background:black;
    margin:70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.containerm .box{
    position: relative;
    width: 300px;
    height: 300px;
    background:black;
    margin:10px;
    display: inline-block;

}
.imgBox{
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
}
img{
    width:300px;
    height: 300px;
}
.containerm .box .imgBox img{
    width: 100%;
    transition: transform 2s;
}
.containerm .box:hover .imgBox img{
    transform: scale(1.2);
}
.containerm .box .details{
    position: absolute;
    top:10px;
    left:10px;
    bottom:10px;
    right: 10px;
    background: rgba(0,0,0,0.7);
    transform: scaleY(0);
    transition: transform .5s;
}
.containerm .box:hover .details{
    transform: scaleY(1);

}

h2 p{
    color:white;

}
h2{
    text-transform: uppercase;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
.containerm .box .details .content{
    position:absolute;
    top:50px;
    transform: :translateY(-50%);
    text-align:center;
    padding:15px;
    color:#ffff;
}
.containerm .box .details .content h2{
    margin: 0;
    padding:0;
    font-size: 20px;

}
button{
    background: none;
    border: 1px solid white;
    border-radius: 3px;
    color:white;
    font-size: 15px;
    font-weight: bold;
    margin: 1em auto;
    display:block;
    padding: 15px 20px;
    position: relative;
    text-transform: uppercase;
    padding-right: 20px;
    cursor:pointer;

  }
  a{
    color:white;
    text-decoration: none;
  }
  
h1{
    color:white;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}